* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-auto-rows: max-content;
    text-align: center;
    gap: 1rem;
    margin: 1rem;
    background-image: url('./bg3.jpg');
    background-repeat: no-repeat;
}

h1 {
    padding: 1rem 0rem;
    font-size: 2rem;
    border-radius: 1rem;
}

h2 {
    font-size: 1.7rem;
}

section {
    background-image: linear-gradient(rgba(225,200,239), rgba(163,225,233));
    border-radius: 2rem;
    padding: 1rem 2rem;
    border: 2px solid red;
    box-shadow: 0 0 0.25rem black;
}

.weatherDisplay {
    display: grid;
    justify-items: center;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
}

.weatherDisplay > .heading {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 3rem;
    place-content: center;
    place-items: center;
    width: 100%;
    gap: 0.5rem;
}

.heading :nth-child(2) {
    justify-self: left;
}

.weatherDisplay > .details {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr max-content;
    place-content: center;
    place-items: center;
    width: 100%;
}

.laterDisplay {
    gap: 1px;
}

.laterDisplay > h2 {
    margin-bottom: 1rem;
}

.weatherItemLater {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    place-items: center;
}

.details > p {
    font-size: 1.6rem;
}

form {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3rem;
    gap: 0.5rem;
}

form > input {
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 2px solid red;
    font-size: 1rem;
}

form > button {
    background: url('./images/search.png');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
}